<section class="mx-8 mt-10">
    <section class="flex   flex-wrap gap-4 mb-3 my-2">
        <section
                class="items-center bg-white border rounded-lg h-48   flex-1 flex flex-col justify-center p-5 ">
            <h1>184</h1>
            <h5 class="text-muted"> Requests</h5>
        </section>
        <div class="items-center bg-white border   h-48 rounded-lg  flex-1 flex flex-col justify-center p-5 ">
            <h1>161</h1>
            <h5 class="text-muted"> Individuals</h5></div>
        <div class=" items-center bg-white border h-48 rounded-lg    flex-1 flex flex-col justify-center p-5 ">
            <h1>23</h1>
            <h5 class="text-muted"> Businesses</h5></div>
    </section>
</section>
<!--<apx-chart-->
<!--        [chart]="chartOptions.chart"-->
<!--        [series]="chartOptions.series"-->
<!--        [title]="chartOptions.title.text"-->
<!--        [xaxis]="chartOptions.xaxis"-->
<!--&gt;</apx-chart>-->
<button (click)="handleClick()">Click</button>
<section>
    <input (click)="false" class="select" id="" name="" type="checkbox">
    <label for="">Disabling boxes</label>
</section>
<select class="select">
    <option>First</option>
    <option>Second</option>
</select>