<section *ngIf="control?.dirty && !control?.pristine && control?.value" class="d-flex flex-column mt-1">
    <div
            *ngIf="passwordStrength$ | async; let strength"
            class="border strength-container flex items-center overflow-hidden rounded-lg"
    >
        <p
                [style.background-color]="color$ | async"
                [style.width]="strength"
                class="m-0 strength-bar"
                ngbTooltip="{{ strengthDescription$ | async }}"
        ></p>
    </div>
    <div class="flex justify-between items-center">
        <small class="font-weight-bold description-label">Password Strength</small>
        <small [style.color]="color$ | async" class="font-weight-bold">{{ strengthDescription$ | async }}</small>
    </div>
    <!--    <section *ngIf="showSummary">-->
    <!--        <p>Password strength hint</p>-->
    <!--        <p class="">At least a lowercase character <span *ngIf=config.lowerCase> ✔ <fa-icon-->
    <!--                [icon]="faCheck"-->
    <!--                class="text-green-300 cursor-pointer"></fa-icon> </span>-->
    <!--        </p>-->
    <!--        <p class="">At least an uppercase character <span *ngIf=config.upperCase> ✔ <fa-icon-->
    <!--                [icon]="faCheck"-->
    <!--                class="text-green-300 cursor-pointer"></fa-icon> </span>-->
    <!--        </p>-->
    <!--        <p class="number">At least a number <span *ngIf=config.number> ✔ <fa-icon [icon]="faCheck"-->
    <!--                                                                                  class="text-green-300 cursor-pointer"></fa-icon> </span>-->
    <!--        </p>-->
    <!--        <p class="special">At least a special character <span *ngIf=config.specialCharacters> <fa-icon-->
    <!--                [icon]="faCheck"-->
    <!--                class="text-green-300 cursor-pointer"></fa-icon> ✔ </span>-->
    <!--        </p>-->
    <!--        <p>Minimum of 8 characters-->
    <!--            <span *ngIf=config.length> ✔ <fa-icon [icon]="faCheck"-->
    <!--                                                  class="text-green-300 cursor-pointer"></fa-icon> </span>-->
    <!--        </p>-->
    <!--    </section>-->
</section>